<aside
    class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
    id="sidenav-main">
    <app-aside></app-aside>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <app-navbar></app-navbar>
    <div class="container-fluid py-4">

        <h3>Thống kê</h3>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="">ID</th>
                            <th class="">Tên khách hàng</th>
                            <th class="">Số điện thoại</th>
                            <th class="">Địa chỉ nhận hàng</th>
                            <th class="">Ngày tạo</th>
                            <th class="">Tổng tiền</th>
                            <th class="">Trạng thái</th>
                            <th class="">Chi tiết</th>
                            <th class="">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                       

                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="text-center">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="pageChange($event)">
            </pagination-controls>
        </div> -->


        <app-footer></app-footer>
    </div>
</main>