<app-nav></app-nav>


<div class="container">

    <h3>Giỏ hàng</h3>
    <table class="table text-center">
        <thead>
            <tr>
                <th class="col-md-3">Tên sản phẩm</th>
                <th class="col-md-1">Màu sắc</th>
                <th class="col-md-1">Kích thước</th>
                <th class="col-md-2">Đơn giá</th>
                <th class="col-md-1">Số lượng</th>
                <th class="col-md-2">Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of cartItems">
                <th><a class="text-decoration-none text-dark" href="/product/{{product.id}}">
                        {{product.productName}}</a>
                </th>
                <td>{{product.color.colorName}}</td>
                <td>{{product.size.sizeName}}</td>
                <td>{{product.price}} VNĐ</td>
                <td>{{product.quantity}}</td>
                <td>{{product.price * product.quantity}} VNĐ</td>
            </tr>
            <tr>
                <th>Tổng giá trị sản phẩm</th>
                <td colspan="4"></td>
                <td><span class="text-success text-bold">{{totalPrice()}} VNĐ</span></td>
            </tr>
            <tr>
                <th>
                    Nhập voucher nếu có
                </th>
                <th colspan="2">
                    <div class="input-group input-group-outline">
                        <input type="text" class="form-control" placeholder="" [(ngModel)]="inputVoucher"
                            (keyup)="checkVoucher()">
                    </div>
                </th>
                <th colspan="2">
                    <span *ngIf="inputVoucher != '' && voucher == null" class="text-danger">Voucher không hợp lệ</span>
                </th>
                <th class="text-danger">{{getDiscount()}}</th>
            </tr>
            <tr>
                <th>Tổng tiền</th>
                <th colspan="4"></th>
                <th>{{finalTotalPrice()}} VNĐ</th>
            </tr>
        </tbody>
    </table>

    <br>
    <br>
    <br>

    <h3>Thông tin thanh toán</h3>
    <form [formGroup]="formInfo" (ngSubmit)="onSubmit()">
        <div class="row m-5">
            <div class="m-2">
                <div class="input-group input-group-outline">
                    <label for="" class="m-1 mt-2 col-2">Họ tên người nhận hàng</label>
                    <input type="text" class="form-control" placeholder="" formControlName="fullName"
                        [ngModel]="this.user.lastName">
                </div>
                <div *ngIf="this.formInfo.get('fullName')?.touched ||this.formInfo.get('fullName')?.dirty ">
                    <span class="text-danger" *ngIf="this.formInfo.get('fullName')?.errors?.['required']">Vui lòng nhập
                        tên người nhận</span>
                </div>
            </div>

            <div class="m-2">
                <div class="input-group input-group-outline">
                    <label for="" class="m-1 mt-2 col-2">Email nhận thông báo</label>
                    <input type="text" class="form-control" placeholder="" formControlName="email"
                        [ngModel]="this.user.email">
                </div>
                <div *ngIf="this.formInfo.get('email')?.touched ||this.formInfo.get('email')?.dirty ">
                    <span class="text-danger" *ngIf="this.formInfo.get('email')?.errors?.['required']">Vui lòng nhập
                        email nhận thông báo</span>
                </div>
            </div>

            <div class="m-2">
                <div class="input-group input-group-outline">
                    <label for="" class="m-1 mt-2 col-2">Số điện thoại người nhận</label>
                    <input type="text" class="form-control" placeholder="" formControlName="phone"
                        [ngModel]="this.user.phone">
                </div>
                <div *ngIf="this.formInfo.get('phone')?.touched ||this.formInfo.get('phone')?.dirty ">
                    <span class="text-danger" *ngIf="this.formInfo.get('phone')?.errors?.['required']">Vui lòng nhập số
                        điện thoại</span>
                    <span class="text-danger" *ngIf="this.formInfo.get('phone')?.errors?.['pattern']">Số điện thoại
                        không đúng</span>
                </div>
            </div>

            <div class="m-2">
                <div class="input-group input-group-outline">
                    <label for="" class="m-1 mt-2 col-2">Địa chỉ nhận hàng</label>
                    <input type="text" class="form-control" placeholder="" formControlName="address"
                        [ngModel]="this.user.address">
                </div>
                <div *ngIf="this.formInfo.get('address')?.touched ||this.formInfo.get('address')?.dirty ">
                    <span class="text-danger" *ngIf="this.formInfo.get('address')?.errors?.['required']">Vui lòng nhập
                        địa chỉ nhận hàng</span>
                </div>
            </div>
        </div>

        <button class="btn btn-info text-white" type="submit">Thanh toán</button>

    </form>



    <app-footer></app-footer>
</div>