<aside
    class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
    id="sidenav-main">
    <app-aside></app-aside>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <app-navbar></app-navbar>
    <div class="container-fluid py-4">
        <h3>Quản lý voucher</h3>
        <button class="btn btn-outline-dark m-1" data-bs-toggle="modal" data-bs-target="#new_voucher">
            Thêm mới
        </button>

        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="">ID</th>
                            <th class="">Mã</th>
                            <th class="">Số lượng</th>
                            <th class="">Giá trị</th>
                            <th class="">Thời gian bắt đầu</th>
                            <th class="">Thời gian kết thúc</th>
                            <th class="">Trạng thái</th>
                            <th class="">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vc of vouchers | paginate:{
                            itemsPerPage: 10,
                            currentPage: currentPage,
                            totalItems: vouchers.length
                        }; let i = index ">
                            <td>{{vc.id}}</td>
                            <td>{{vc.code}}</td>
                            <td>{{vc.quantity}}</td>
                            <td>{{vc.value}}</td>
                            <td>{{vc.startTime}}</td>
                            <td>{{vc.endTime}}</td>
                            <td><span class="{{vc.outOfDate ? 'badge bg-danger' : 'badge bg-success'}}">{{vc.outOfDate ?
                                    "Hết hạn" : "Còn hạn"}}</span></td>
                            <td>
                                <button type="button" class="btn btn-outline-success m-1" data-bs-toggle="modal"
                                    data-bs-target="#update_voucher" (click)="chooseVoucher(vc)">
                                    Chỉnh sửa
                                </button>
                                <button type="button" class="btn btn-outline-danger m-1" (click)="deleteVoucher(vc)">
                                    Xoá
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="pageChange($event)">
            </pagination-controls>
        </div>



        <app-footer></app-footer>
    </div>
</main>



<div class="modal fade modal-lg" id="new_voucher" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Chi tiết sản phẩm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="formNewVoucher" (submit)="addNewVoucher()">
                    <div class="input-group input-group-outline m-2">
                        <input type="text" class="form-control" placeholder="Mã" formControlName="code">
                    </div>
                    <div class="input-group input-group-outline m-2">
                        <input type="number" class="form-control" placeholder="Giá trị" formControlName="value">
                    </div>
                    <div class="input-group input-group-outline m-2">
                        <input type="number" class="form-control" placeholder="Số lượng" formControlName="quantity">
                    </div>
                    <div class="input-group input-group-outline m-2">
                        <input type="date" class="form-control" placeholder="" formControlName="startTime">
                    </div>
                    <div class="input-group input-group-outline m-2">
                        <input type="date" class="form-control" placeholder="" formControlName="endTime">
                    </div>
                    <button class="btn btn-outline-success m-2" type="submit">Thêm</button>
                </form>







            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-lg" id="update_voucher" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Chỉnh sửa
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form *ngIf="voucherChoose != null" [formGroup]="formUpdateVoucher" (submit)="updateVoucher()">
                    <div class="m-2">
                        <div class="input-group input-group-outline">
                            <input type="text" class="form-control" placeholder="Mã giảm giá" formControlName="id"
                                ngModel="{{this.voucherChoose.id}}" hidden />
                        </div>
                    </div>
                    <div class="m-2">
                        <div class="input-group input-group-outline">
                            <input type="text" class="form-control" placeholder="Mã giảm giá" formControlName="code"
                                ngModel="{{this.voucherChoose.code}}" />
                        </div>
                        <div
                            *ngIf="this.formUpdateVoucher.get('code')?.touched ||this.formUpdateVoucher.get('code')?.dirty ">
                            <span class="text-danger"
                                *ngIf="this.formUpdateVoucher.get('code')?.errors?.['required']">Vui lòng nhập mã giảm
                                giá</span>
                        </div>
                    </div>
                    <div class="m-2">
                        <div class="input-group input-group-outline">
                            <input type="number" class="form-control" placeholder="Số lượng" formControlName="quantity"
                                ngModel="{{this.voucherChoose.quantity}}" />
                        </div>
                        <div
                            *ngIf="this.formUpdateVoucher.get('quantity')?.touched ||this.formUpdateVoucher.get('quantity')?.dirty ">
                            <span class="text-danger"
                                *ngIf="this.formUpdateVoucher.get('quantity')?.errors?.['required']">Vui lòng nhập số
                                lượng</span>
                        </div>
                        <div
                            *ngIf="this.formUpdateVoucher.get('quantity')?.touched ||this.formUpdateVoucher.get('quantity')?.dirty ">
                            <span class="text-danger" *ngIf="this.formUpdateVoucher.get('quantity')?.errors?.['min']">Số
                                lượng không hợp lệ</span>
                        </div>
                    </div>
                    <div class="m-2">
                        <div class="input-group input-group-outline">
                            <input type="number" class="form-control" placeholder="Giá trị" formControlName="value"
                                ngModel="{{this.voucherChoose.value}}" />
                        </div>
                        <div
                            *ngIf="this.formUpdateVoucher.get('value')?.touched ||this.formUpdateVoucher.get('value')?.dirty ">
                            <span class="text-danger"
                                *ngIf="this.formUpdateVoucher.get('value')?.errors?.['required']">Vui lòng nhập giá
                                trị</span>
                        </div>
                        <div
                            *ngIf="this.formUpdateVoucher.get('value')?.touched ||this.formUpdateVoucher.get('value')?.dirty ">
                            <span class="text-danger" *ngIf="this.formUpdateVoucher.get('value')?.errors?.['min']">Giá
                                trị không hợp lệ</span>
                        </div>
                    </div>
                    <div class="m-2">
                        <div class="input-group input-group-outline">
                            <input type="date" class="form-control" placeholder="Ngày bắt đầu"
                                formControlName="startTime" ngModel="{{this.voucherChoose.startTime}}" />
                        </div>
                        <div
                            *ngIf="this.formUpdateVoucher.get('startTime')?.touched ||this.formUpdateVoucher.get('startTime')?.dirty ">
                            <span class="text-danger"
                                *ngIf="this.formUpdateVoucher.get('startTime')?.errors?.['required']">Vui lòng nhập ngày
                                bắt đầu</span>
                        </div>
                    </div>
                    <div class="m-2">
                        <div class="input-group input-group-outline">
                            <input type="date" class="form-control" placeholder="Ngày bắt đầu" formControlName="endTime"
                                ngModel="{{this.voucherChoose.endTime}}" />
                        </div>
                        <div
                            *ngIf="this.formUpdateVoucher.get('endTime')?.touched ||this.formUpdateVoucher.get('endTime')?.dirty ">
                            <span class="text-danger"
                                *ngIf="this.formUpdateVoucher.get('endTime')?.errors?.['required']">Vui lòng nhập ngày
                                kết thúc</span>
                        </div>
                    </div>


                    <button class="btn btn-outline-success m-2" type="submit">
                        Lưu
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>